body {
  background: rgb(93, 91, 111);
}
.counting {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: aliceblue;
  text-align: center;

}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn1{ 
  height: 50px;
  width: 50px;
  background-color: rgb(230, 128, 95);
}
.btn2{ 
  height: 50px;
  width: 50px;
  background-color: rgb(230, 128, 95);
}
